/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
#responsive-menu-search-box {
  padding: 5px 5% !important;
}
body.admin-bar button.rmp_menu_trigger {
    margin-top: 32px;
}
.top-bar .storename .inline_address a:before,
.fl-page-bar-text .storename .inline_address a:before {
  content: "\f041";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  margin-right: 10px;
}
#responsive-menu-additional-content {
  padding: 5px 5% !important;
}
.top-bar .storename{
	margin: 0;
	font-size: 12px;
}
.top-bar .storename .phone a:before,
.top-bar .menu .phone span:before,
.fl-page-bar .navbar-nav li > a.phone span:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f095";
}
.top-bar .menu .phone span:before{
	margin-right: 5px;
}
.top-bar .menu{
	align-items: initial;
}
#responsive-menu-container #responsive-menu-additional-content .phone a span:before {
  content: "\f095";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  margin-right: 5px !important;
}
#responsive-menu-container #responsive-menu-additional-content .phone a span {
  color: #fff !important;
}
.video_slider .slider-content .panel-wrapper .slider-content-wrapper {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

#main-slider_4 .image-block_4,
#main-slider_4.image-block_4 a,
#main-slider_4 .image-block_4 a img {
  width: 100% !important;
}

#main-slider_4 {
  height: auto !important;
}
#main-slider_4 .slider-content-wrapper .right-block .title {
  font-size: 30px !important;
  line-height: 1.6em !important;
  color: #cc252a;
  text-transform: capitalize;
}

.ls-nav-right-arrow,
.ls-nav-left-arrow {
  top: 40% !important;
}

.ui-datepicker-title select {
  color: #000 !important;
}
.active-gallery-modal .fl-row-content-wrap .product-box a.fl-button {
  display: block !important;
  text-align: center !important;
}

.fl-page-nav-right.fl-page-header-fixed .fl-logo-img,
.fl-page-header-fixed .fl-logo-img {
  max-height: 65px !important;
}

a.button,
a.fl-button,
a.fl-button:visited,
.fl-builder-content a.fl-button,
.fl-builder-content a.fl-button:visited {
  border-radius: 0px;
  /* padding: 7px 30px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.4px;
    text-decoration: none; */
}
.gform_wrapper .gfield_required {
  color: #790000 !important;
}

.fl-post-grid-gallery {
  width: 300px;
  height: 300px;
  background-position: center !important;
  cursor: pointer;
}
footer .menu li a:hover {
  color: #cc252a !important;
}

footer a:hover *,
footer .fl-icon-wrap .fl-icon-text a:hover *,
footer .fl-icon-wrap .fl-icon-text a:hover {
  color: #cc252a !important;
}
.storename {
  padding: 0px;
  list-style: none;
}

.fl-node-5cbdc4497c6a0 .storename span {
  color: #fff !important;
}

.storename p,
.storename span {
  margin: 0px !important;
  color: #000 !important;
}

ul.store-opening-hrs {
  list-style: none;
  padding: 0px;
}

.slide.slick-slide {
  text-align: center;
}

.footer-col .storename p,
.footer-col .storename span {
  margin: 0px !important;
  color: #fff !important;
}

.fl-node-5cd3edbf6b3ff .direction a {
  width: 100%;
  text-align: center;
}

.fl-node-5cd3edbf6b3ff .direction a span {
  color: #fff !important;
}

.active-gallery-modal .product-box a.fl-button {
  background: #000;
  border: 1px solid #000;
}

.active-gallery-modal .product-box a.fl-button:hover {
  background: #cc252a;
  border: 1px solid #981c1f;
}

.store-opening-hrs li {
  padding: 10px;
}

#gform_submit_button_3 {
  border-radius: 0px;
}

/*------------------TOP BAR STYLES ------------------*/

ul#topbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul#topbar li {
  float: left;
  list-style-type: none;
}

ul#topbar li a {
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

ul#topbar li a:hover {
  color: #111111;
}

.gform_wrapper .ginput_container_time input,
.gform_wrapper .ginput_container_time select {
  padding: 5px !important;
}
.ginput_container_time select {
  min-width: 60px !important;
  width: 60px !important;
}

.ginput_container_checkbox ul li a {
  color: #000 !important;
}

.gform_wrapper .gfield_time_hour i {
  margin-top: -2px !important;
}
footer a:hover,
footer a:hover * {
  color: #cc252a !important;
}

.facetwp-selections ul {
  padding-bottom: 20px !important;
  padding-left: 0px !important;
}
.facetwp-selections ul:before {
  content: "YOUR SELECTION";
  font-weight: 700;
  font-size: 16px;
  border-bottom: 2px solid #640f39;
  padding: 0px;
  width: 100% !important;
  position: relative;
  display: block;
  margin-bottom: 5px;
  color: #640f39;
  padding: 5px 5px 5px 0px;
}
.facetwp-selections ul li {
  font-size: 14px;
  display: inline-block;
  line-height: 20px;
}

.facetwp-selections ul li .facetwp-selection-label {
  font-weight: bold;
  font-size: 14px;
  color: #000;
  font-weight: 700;
}
.product-colors .found {
  margin-right: 3px;
}
.gform_wrapper.gravity-theme .field_sublabel_below .ginput_complex {
  align-items: center !important;
}
.gform_wrapper.gravity-theme .hour_minute_colon {
  margin-top: -6px;
}
.fl-page-bar-row .storename {
  margin-bottom: 0px;
}
/* .fl-module-advanced-tabs .ua-icon{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "FontAwesome";
 }
 .fl-module-advanced-tabs .ua-icon-chevron-down2:before{
    content: "\f078";
 } */

/*------------------END TOP BAR STYLES ------------------*/

@media (max-width: 1080px) {
  .gform_wrapper #field_17_2,
  .gform_wrapper #field_17_7 {
    padding-right: 0px !important;
  }
  .gform_wrapper li input {
    width: 100% !important;
    display: block;
  }
  .fl-page-nav .navbar-nav li > a {
    padding: 15px 4px;
    font-size: 13px;
  }
  .fl-page-nav-right .fl-page-header-row .fl-page-nav-col {
    padding-left: 0px;
  }
  .fl-content-slider .fl-slide-bg-photo {
    position: absolute !important;
    min-height: 600px !important;
  }
  .fl-content-slider
    .fl-slide-foreground
    .fl-builder-content
    .fl-row
    > .fl-row-content-wrap {
    min-height: 600px;
  }
  .fl-slide-mobile-photo {
    z-index: +2;
    position: relative;
    max-height: 600px !important;
    text-align: center !important;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .fl-slide-mobile-photo > img {
    padding: 50px;
    max-height: 600px !important;
    width: auto;
    margin: 0 auto;
  }
  .fl-content-slider .fl-slide {
    min-height: 600px !important;
    max-height: 600px !important;
  }
  .product-attributes table {
    table-layout: fixed !important;
  }
  .fl-content-slider .fl-slide-bg-link {
    z-index: +2;
  }
  .fl-builder-content
    .fl-module-content-slider
    .fl-slide
    .fl-slide-text
    .uabb-infobox-title {
    font-size: 22px !important;
    line-height: 1.2em !important;
  }
  .fl-builder-content
    .fl-module-content-slider
    .fl-slide
    .fl-slide-text
    .uabb-infobox-text
    p {
    font-size: 30px !important;
    line-height: 1.2em !important;
  }
}

@media (max-width: 768px) {
  /* .facet_filters{ position: static; width: auto; box-shadow: none;}
    .facet_filters .close_bar, .open_sidebar, .close_sidebar_button{ display: none;}
    .facetwp-per-page, .facetwp-pager{ text-align: right !important;}
    #product-list-top-filters .fl-heading,
    .facetwp-counts{ text-align: left !important;}
    #product-list-top-filters .fl-col-group .fl-col{
        width: auto!important;
    } */
  .facet-inner .facetwp-checkbox {
    background-position: 0px 3px;
  }
  .fl-page-bar .text-left {
    width: 35%;
  }
  .fl-page-bar .text-right {
    width: 65%;
  }
  .fl-page-nav .navbar-nav li > a {
    padding: 15px 10px;
  }
  .fl-page-nav-search {
    display: block;
  }
}
@media (max-width: 767px) {
  .fl-page-nav-search {
    display: none;
  }
  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters .close_bar,
  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }
  .facetwp-per-page,
  .facetwp-pager {
    float: none;
  }
  .facetwp-per-page,
  .facetwp-pager,
  #product-list-top-filters .fl-heading,
  .facetwp-counts {
    text-align: center !important;
  }

  .fl-page-bar .text-left {
    width: 50%;
  }
  .fl-page-bar .text-right {
    width: 50%;
  }

  #responsive-menu-additional-content a span {
    color: #fff;
  }
  .fl-content-slider-navigation a.disabled,
  .bx-controls a.disabled {
    color: #000 !important;
    fill: #000 !important;
  }
}

@media (max-width: 450px) {
  .footermenu .menu-item a {
    font-size: 14px;
  }
}

@media print {
  @page {
    size: "A4";
    margin: 0mm;
    text-align: center;
  }

  header,
  footer,
  .fl-page-bar,
  #button-print,
  .fl-module-rich-text {
    display: none !important;
  }
}

.fl-page-bar .navbar-nav li > a.phone span:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f095";
  margin: 0px 5px 0px 0;
  font-size: 16px;
  position: relative;
  top: 2px;
}
#responsive-menu-search-box {
  padding: 5px 5% !important;
}
#responsive-menu-additional-content {
  padding: 5px 5% !important;
}
#responsive-menu-container
  #responsive-menu-additional-content
  .phone
  a
  span:before {
  content: "\f095";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  margin-right: 5px !important;
}
#responsive-menu-container #responsive-menu-additional-content .phone a span {
  color: #fff !important;
}
.video_slider .slider-content .panel-wrapper .slider-content-wrapper {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}
#main-slider_4 .image-block_4,
#main-slider_4 .image-block_4 a img,
#main-slider_4.image-block_4 a {
  width: 100% !important;
}
#main-slider_4 {
  height: auto !important;
}
#main-slider_4 .slider-content-wrapper .right-block .title {
  font-size: 30px !important;
  line-height: 1.6em !important;
  color: #cc252a;
  text-transform: capitalize;
}
.ls-nav-left-arrow,
.ls-nav-right-arrow {
  top: 40% !important;
}
.ui-datepicker-title select {
  color: #000 !important;
}
.active-gallery-modal .fl-row-content-wrap .product-box a.fl-button {
  display: block !important;
  text-align: center !important;
}
.fl-page-header-fixed .fl-logo-img,
.fl-page-nav-right.fl-page-header-fixed .fl-logo-img {
  max-height: 65px !important;
}
.fl-builder-content a.fl-button,
.fl-builder-content a.fl-button:visited,
a.button,
a.fl-button,
a.fl-button:visited {
  border-radius: 0;
}
.gform_wrapper .gfield_required {
  color: #790000 !important;
}
.fl-post-grid-gallery {
  width: 300px;
  height: 300px;
  background-position: center !important;
  cursor: pointer;
}
.storename {
  padding: 0;
  list-style: none;
}
.fl-node-5cbdc4497c6a0 .storename span {
  color: #fff !important;
}
.storename p,
.storename span {
  margin: 0 !important;
  color: #000 !important;
}
ul.store-opening-hrs {
  list-style: none;
  padding: 0;
}
.slide.slick-slide {
  text-align: center;
}
.footer-col .storename p,
.footer-col .storename span {
  margin: 0 !important;
  color: #fff !important;
}
.fl-node-5cd3edbf6b3ff .direction a {
  width: 100%;
  text-align: center;
}
.fl-node-5cd3edbf6b3ff .direction a span {
  color: #fff !important;
}
.active-gallery-modal .product-box a.fl-button {
  background: #000;
  border: 1px solid #000;
}
.active-gallery-modal .product-box a.fl-button:hover {
  background: #cc252a;
  border: 1px solid #981c1f;
}
.store-opening-hrs li {
  padding: 10px;
}
#gform_submit_button_3 {
  border-radius: 0;
}
ul#topbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul#topbar li {
  float: left;
  list-style-type: none;
}
ul#topbar li a {
  color: #fff;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}
ul#topbar li a:hover {
  color: #111;
}
.gform_wrapper .ginput_container_time input,
.gform_wrapper .ginput_container_time select {
  padding: 5px !important;
}
.ginput_container_time select {
  min-width: 60px !important;
  width: 60px !important;
}
.ginput_container_checkbox ul li a {
  color: #000 !important;
}
.gform_wrapper .gfield_time_hour i {
  margin-top: -2px !important;
}
@media (max-width: 1080px) {
  .gform_wrapper #field_17_2,
  .gform_wrapper #field_17_7 {
    padding-right: 0 !important;
  }
  .gform_wrapper li input {
    width: 100% !important;
    display: block;
  }
  .fl-page-nav .navbar-nav li > a {
    padding: 15px 4px;
    font-size: 13px;
  }
  .fl-page-nav-right .fl-page-header-row .fl-page-nav-col {
    padding-left: 0;
  }
}
@media (max-width: 768px) {
  .facet-inner .facetwp-checkbox {
    background-position: 0 3px;
  }
  .fl-page-bar .text-left {
    width: 35%;
  }
  .fl-page-bar .text-right {
    width: 65%;
  }
  .fl-page-nav .navbar-nav li > a {
    padding: 15px 10px;
  }
  .fl-page-nav-search {
    display: block;
  }
}
@media (max-width: 767px) {
  .fl-page-nav-search {
    display: none;
  }
  .facet_filters {
    position: fixed;
    top: 0;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .close_sidebar_button,
  .facet_filters .close_bar,
  .open_sidebar {
    display: block;
  }
  .facetwp-pager,
  .facetwp-per-page {
    float: none;
  }
  #product-list-top-filters .fl-heading,
  .facetwp-counts,
  .facetwp-pager,
  .facetwp-per-page {
    text-align: center !important;
  }
  .fl-page-bar .text-left {
    width: 100%;
  }
  #responsive-menu-additional-content a span {
    color: #fff;
  }
  .bx-controls a.disabled,
  .fl-content-slider-navigation a.disabled {
    color: #000 !important;
    fill: #000 !important;
  }
}
@media (max-width: 450px) {
  .footermenu .menu-item a {
    font-size: 14px;
  }
  button#rmp_menu_trigger-1129830 {
    top: 81px;
  }
}

@media (max-width: 380px) {
  button#rmp_menu_trigger-1129830 {
    top: 96px;
  }
}

@media (max-width: 321px) {
  button#rmp_menu_trigger-1129830 {
    top: 110px;
  }
}

@media print {
  @page {
    size: A4;
    margin: 0;
    text-align: center;
  }
  #button-print,
  .fl-module-rich-text,
  .fl-page-bar,
  footer,
  header {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .fl-page-bar .fl-page-bar-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .fl-page-bar .text-left {
    width: 50%;
  }
  .fl-page-bar .text-right {
    width: 50%;
  }
  #menu-top-bar-menu li {
    display: none;
  }
  #menu-top-bar-menu li:last-child {
    display: block;
  }
}
